name: Create and publish a Docker image

on:
  push:
    branches: ['main']
  workflow_dispatch: {}

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  container-test:
    runs-on: ubuntu-latest
    services:
      etcd:
        image: quay.io/coreos/etcd:v3.5.5
        ports:
          - 2379:2379
      minio:
        image: minio/minio:RELEASE.2023-03-20T20-16-18Z
        ports:
          - 9000:9000
          - 9001:9001
      publication_recommender:
        image: ghcr.io/opencs-ontology/publication-recommender:main
        ports:
          - "8060"

    container:
      image: milvusdb/milvus:v2.3.3

    env:
      ETCD_ENDPOINTS: etcd:2379
      MINIO_ADDRESS: minio:9000

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Install Docker and Docker Compose
        run: |
          sudo apt-get update
          sudo apt-get install -y docker.io
          sudo ln -s /usr/bin/docker.io /usr/local/bin/docker
          sudo service docker start
          sudo curl -L "https://github.com/docker/compose/releases/latest/download/docker-compose-$(uname -s)-$(uname -m)" -o /usr/local/bin/docker-compose
          sudo chmod +x /usr/local/bin/docker-compose

      - name: Build and run containers
        run: |
          docker-compose up -d
          docker-compose ps

      - name: Wait for containers to be healthy
        run: |
          sleep 30
          docker-compose logs --tail=50

      - name: Check if container runs properly
        run: |
          docker exec recommender-container bash /home/container_test/test_script.sh

      - name: Clean up
        run: |
          docker-compose down

  build-and-push-image:
    runs-on: ubuntu-latest
    needs: container-test
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
